.products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 5px;
  margin-top: 50px;

  .product-item {
    cursor: pointer;
    min-width: 300px;
    margin-bottom: 20px;
  }
}